@model Frontend.Models.ProductViewModel

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Name</th>
            <th>In Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products) {
            <tr>
                <td>@product.Id</td>
                <td>@product.CategoryId</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@product.Id">Update</a>
                </td>
            </tr>    
        }
    </tbody>
</table>